<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="${userName} suite">

    <listeners>
        <listener class-name="com.hillel.conf.TestListener" />
    </listeners>

    <test name="${userName} tests">
        <packages>
            <package name="com.hillel.*"/>
        </packages>
    </test>

</suite>